.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin: 0.5em 0;
}

.card {
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5em;
	max-width: 8em;
	background-color: rgb(250, 219, 235);

	h2, p { margin: 0; }
	h2 { font-size: 16px; }
}

